<html>
    <script>
        window.onload = function() {
            if(!window.location.hash) {
                window.location = window.location + '#loaded';
                window.location.reload();
            }
        }
    </script>
    <a href='/'>
        <button>Back to home</button>
    </a>
    <ul>
        {% for actor in actors %}
        <li>
            <a href="/actors/{{ actor.id }}">
                <h5>{{actor.name}}</h5>
            </a>
        </li>
        {% endfor %}
    </ul>
</html>