<html>
    <head>
        <title>New Actor Form</title>
        <h1>Add New Actor</h1>
        <style>
            .hidden {
                display: none;
            }
        </style>
    </head>
    <body>
        <form id="form">
            <h3>
                Name:
                <input type="text" id="name" name="name" />
            </h3>
            <h3>
                Age:
                <input type="text" id="age" name="age" />
            </h3>
            <h3>
                Gender:
                <input type="text" id="gender" name="gender" />
            </h3>
            <input type="submit" value="Submit form" />
        </form>
        <div id="error" class="hidden">Something went wrong!</div>
        <script>
            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault();
                fetch('/actors/add', {
                    method: 'POST',
                    body: JSON.stringify({
                        'name': document.getElementById('name').value,
                        'age': document.getElementById('age').value,
                        'gender': document.getElementById('gender').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response){
                    console.log("blobby");
                    return response.text();
                }) 
                .then(function(jsonResponse) {
                    console.log(jsonResponse);
                    document.getElementById("error").className = 'hidden';
                })
                .catch(function(e) {
                    console.log(e)
                    document.getElementById("error").className = '';
                })
            }
        </script>
    </body>
</html>