<html>
    <header>
        <h1>Movie Description: {{movie.title}}</h1>
    </header>
    <body>
        <h2>Release Date: {{movie.release_date}}</h2>
        <a href="/movies/{{ movie.id }}">
            <button>Delete movie</button>
        </a>
        <a href="/movies/{{ movie.id }}">
            <button>Modify movie details</button>
        </a>
        <a href="/movies">
            <button>Back to movie list</button>
        </a>
        <a href="/">
            <button>Back to home</button>
        </a>
    </body>
</html>