<html>
    <head>
        <h1>Movie Description: {{movie.title}}</h1>
        <style>
            .hidden {
                display: none;
            }
        </style>
    </head>
    <body>
        <h2>Release Date: {{movie.release_date}}</h2>
        <button class="delete-button" data-id="{{ movie.id }}">Delete movie</button>

        <a href="/movies/{{ movie.id }}">
            <button>Modify movie details</button>
        </a>
        <a href="/movies">
            <button>Back to movie list</button>
        </a>
        <a href="/">
            <button>Back to home</button>
        </a>
    </body>
    <div id="error" class="hidden">Something went wrong!</div>
    <script>
        const button = document.querySelector('.delete-button');
        button.onclick = function(e) {
            const deleteId = e.target.dataset['id'];
            fetch('/movies/' + deleteId, {
                method: 'DELETE'
            })
            .then(function() {
                    document.getElementById("error").className = 'hidden';
                })
            .catch(function(e) {
                    console.log(e)
                    document.getElementById("error").className = '';
            })
        }
    </script>
</html>